body
{
  user-select: none;
  font-family: 'Garamond';
  font-weight: bold;
}
.starter
{

}

.theme1
{
  background: url('dark.jpg');
  background-size: cover;
  color: white;
  transition: all ease-in-out 1s;
  width: 700px;
}

.theme2
{
  background: url('test.jpg');
  background-size: cover;
  color: #ffa560;
  transition: all ease-in-out 1s;
  width: 700px;
}

.theme3
{
  background: url('green.jpg');
  background-size: cover;
  color: #d99aed;
  transition: all ease-in-out 1s;
  width: 700px;
}

.pageTitle
{
  font-size: 80px;
  text-align: center;
  width: 70%;
  height: 200px;
  position: absolute;
  left: 250px;
  top: 0px;
}
.firstBox
{
  width: 1300px;
  height: 600px;
  position: absolute;
  left: 100px; top: 150px;
  font-size: 70px;
}

.addQuestion
{
  float: left;
  width: 600px;
  position: absolute;
  top: 200px;
  cursor: pointer;
}

.addQuestion
{
  position: absolute;
  top: 200px;
  cursor: pointer;
}

.smallSquare
{
  width: 100px;
  height: 100px;
  float: left;
  border: 2px inset white;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.settingsButton
{
  background-image: url('settings.png');
  background-size: cover;
  width: 60px;
  height: 60px;
  position: absolute;
  right: 70px;
  top: 10px;
  cursor: pointer;

}

.settingsMenu
{
  font-size: 60px;
  position: absolute;
  left: 100px;
  top: 300px;
}

.clearLocalStorage
{
  cursor: pointer;
}

.questionDisplay
{
  font-size: 50px;
  position: absolute;
  left: 900px;
  top: 100px;
  width: 1000px;
}

.questionDisplayBackground
{
  background: rgb(255,255,255, 0.4);
  border-radius: 10px;
  margin-bottom: 10px;
  transition: all 1s ease-in-out;
}

.playGame
{
  position: absolute;
  top: 30px;
  cursor: pointer;
}

.board
{
  width: 500px;
  font-size: 80px;
  position: relative;
  top: 300px;
  left: 150px;
  cursor: pointer;
}

.questionList
{
  float: left;
  position: absolute;
  left: 0px;
  top: 530px;
  cursor: pointer;
}

.questionListContent
{
  position: absolute;
  width: 900px;
  top: 200px;
  left: 0px;
}

.removeList
{
  padding-top: 30px;
  cursor: pointer;
}

.playTest
{
  float: left;
  position: absolute;
  left: 0px;
  top: 370px;
  cursor: pointer;
}

.questionAdd
{
  font-size: 60px;
  position: absolute;
  top: 100px;
  left: 100px;
}

.submitAnswers
{
  position: absolute;
  top: 750px;
  left: 770px;
  cursor: pointer;
}

.homeButton
{
  width: 60px;
  height: 60px;
  background: url('Home-Button.png');
  background-size: cover;
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.themeButton
{
  height: 30px;
  width: 30px;
  border: 5px solid white;
  cursor: pointer;
}

.selectDesign
{
  width: 100px;
  height: 100px;
  opacity: 0.6;

}

#themeButtonOne
{
  background: #ad2806;
}

#themeButtonTwo
{
  background: #29cee8;
}

#themeButtonThree
{
  background: #99e03c;
}

input
{
  width: 1000px;
  height: 100px;
  border-radius: 10px;
  font-size: 50px;
  font-weight: bold;
  color: black;
  background: rgb(255,255,255, 0.6);
  user-select: none;
  border: 2px solid white;
  margin-bottom: 10px;
}
select
{
  width: 100px;
  height: 100px;
  border-radius: 5px;
  font-size: 50px;
  opacity: 0.6;
  font-weight: bold;
}

.questionPlacement
{
  font-size: 50px;
  position: relative;
  top: 150px;
  left: 70px;
}

.answerContent
{
  line-height: 100px;
  background: rgb(255,255,255, 0.6);
  width: 1000px;
  height: 100px;
  border-radius: 10px;
  border: 2px white solid;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}

.answerContent:hover
{
  border: 5px gold solid;
}

.answerContentSelected
{
  line-height: 100px;
  background: rgb(255,255,255, 0.6);
  width: 1000px;
  height: 100px;
  border-radius: 10px;
  border: 5px yellow solid;
}

.checkButton
{
  width: 250px;
  height: 100px;
  position: relative;
  display: none;
  left: 450px;
  top: -372px;
  cursor: pointer;
}

.nextQuestion
{
  width: 400px;
  height: 100px;
  position: absolute;
  left: 300px;
  top: -150px;
  cursor: pointer;
}
